<hr>
<div class="container-fluid">
    <p>Προφίλ</p>
</div>

<hr>

<div class="container-fluid">

    <div class="accordion" id="toDoList">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panel1StayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panel1StayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panel1StayOpen-collapseOne">
                    Πληροφορίες οδηγού
                </button>
            </h2>
            <div id="panel1StayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panel1StayOpen-headingOne">
                <div class="accordion-body">

                    <div class="mb-3">
                        <label for="userName" class="form-label">Όνομα</label>
                        <input type="text" class="form-control" id="userName" [(ngModel)]="userName">
                    </div>

                    <div class="mb-3">
                        <label for="responsibleForVehicles" class="form-label">Οχήματα</label>
                        <input type="text" class="form-control" id="responsibleForVehicles"
                            [(ngModel)]="responsibleForVehicles">
                    </div>

                    <div class="mb-3" *ngIf="hasDriverLicense">
                        <button type="button" class="btn btn-light" (click)="DownloadDriverLicense()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-download" viewBox="0 0 16 16">
                                <path
                                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                <path
                                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                            </svg>
                            Λήψη Διπλώματος Οδήγησης
                        </button>
                    </div>

                    <div class="mb-3">
                        <label for="driverLicense" class="form-label">Ανέβασμα Διπλώματος Οδήγησης</label>
                        <input class="form-control" type="file" accept=".pdf,.doc,.docx,.jpg,.jpeg,.png"
                            id="driverLicense" (change)="OnDriverLicenseSelected($event)"
                            [disabled]="isUploadingFiles">
                        <small class="text-muted">Αποδεκτά αρχεία: PDF, Word, JPG, PNG</small>
                    </div>

                    <div *ngIf="driverLicenseFile" class="d-grid mb-3">
                        <button type="button" class="btn btn-success" (click)="UploadDriverLicense()"
                            [disabled]="isUploadingFiles">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.534 11 12.846 11H3.65A2.65 2.65 0 0 1 1 8.352c0-1.188.872-2.18 2.023-2.348.018-.266.076-.531.16-.788zm1.068.5H7v3.5H4.5v-3.5zm4 0v3.5H11v-3.5H8.5z" />
                                <path
                                    d="M8 3.5V9M6.5 5.5a1.5 1.5 0 1 0 3 0m-7.5 1v2a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-2" />
                            </svg>
                            Ανέβασμα Αρχείων
                        </button>
                    </div>

                    <div *ngIf="driverLicenseUploadMessage" class="alert"
                        [ngClass]="{'alert-success': driverLicenseUploadMessage.includes('επιτυχία'), 'alert-danger': driverLicenseUploadMessage.includes('Σφάλμα'), 'alert-warning': !driverLicenseUploadMessage.includes('επιτυχία') && !driverLicenseUploadMessage.includes('Σφάλμα')}"
                        role="alert">
                        {{driverLicenseUploadMessage}}
                    </div>


                </div>
            </div>
        </div>
    </div>

    <br>

</div>